@import '../../../scss/variables.scss';

.RestaurantItem {
  border: 1px solid $border-primary-color;
  padding: 1rem;
  border-radius: 10px;
  background-color: $bg-secondary-color;
  width: 25rem;

  @media screen and (max-width: 600px) {
    & {
      width: auto;
    }
  }
}