@import './../../variables.scss';

.LinkButton {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  color: #007bff;
  background-color: transparent;

  @media screen and (prefers-reduced-motion:reduce) {
    & {
      transition: none
    }
  }

  &:focus {
    outline: 0;
    text-decoration: underline;
    border-color: transparent;
    box-shadow: none;
  }

  &.disabled,
  &:disabled {
    opacity: .65;
    color: #6c757d;
    pointer-events: none;
  }

  &:not(:disabled):not(.disabled) {
    cursor: pointer
  }

  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active {
    background-image: none
  }

  &:hover {
    color: #0056b3;
    text-decoration: underline;
    background-color: transparent;
    border-color: transparent;
  }
}