.SearchForm {
  display: flex;

  input {
    width: 100%;
    padding: 8px 16px;
    box-sizing: border-box;
    border-radius: 5px;
  }

  button {
    border: none;
    cursor: pointer;
    background-color: transparent;
  }
}
