@import './../../variables.scss';

.BadgeButton {
  background-color: $bg-secondary-color;
  border: none;
  border-radius: 3px;
  padding: 3px 4px;
  cursor: pointer;

  &:focus, &::selection {
    box-shadow: 6px 6px 6px 0px #cecece;
  }
}