$spaceamounts: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10);
$sides: (top, bottom, left, right);
$gutter: 2%;
$font-family: 'Kumbh Sans';
$speed: 0.6s;
$delay: ($speed * .5);
$easing: cubic-bezier(.55, 0, .1, 1);

// colors
$bg-primary-color: #f7f7f7;
$bg-secondary-color: white;